html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    background-color: #eee;
}
canvas {
    background-color:#eee
}

#top_left_div {
    position: absolute;
    top: 3%;
    left: 5%;
    z-index: 10;
}
#top_right_div {
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 10;
}
#top_right_div div {
    margin: 5px;
    float: right;
    clear: right;
}

#bot_div {
    position: absolute;
    bottom: 3%;
    right: 5%;
    z-index: 10;
}

.text_div h1,label {
    color:darkgray;
    font-family: 'Play', sans-serif;
    font-size: 1rem;
}
.text_div a {
    color:#343a40;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    text-decoration: none;
    font-family: 'Play', sans-serif;
    font-size: 1.5rem;
}
.text_div select,input {
    color:black;
    font-family: 'Play', sans-serif;
    font-size: 1rem;
}


.github-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #343a40;
    border-radius: 3px;
    font-family: 'Play', sans-serif;
    font-size: medium;
}

